.container {
  position: relative;

  display: inline-flex;

  flex-direction: column;
  gap: var(--spacing-2);
}

.spinner {
  animation: spin 1s linear infinite;
}

.error {
  max-width: 20rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
