@use "@supertool/ui/src/styles/breakpoints";

.container {
  display: flex;

  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-3);

  @include breakpoints.media-m {
    flex-flow: row wrap;
    align-items: center;
  }
}

.control {
  display: flex;

  flex-direction: column;

  > * {
    width: 100%;
  }

  @include breakpoints.media-m {
    min-width: 12rem;
  }
}
