.container {
  display: flex;

  align-items: center;
  gap: var(--spacing-3);
}

.label {
  min-width: 10rem;

  font-weight: var(--font-weight-semibold);
  text-align: center;
  text-transform: capitalize;
}
