.container {
  display: flex;

  align-items: flex-start;
  justify-content: center;

  padding-block: var(--spacing-12);
}

.card {
  width: 100%;
  max-width: 26rem;
}

.content {
  display: flex;

  flex-direction: column;
  gap: var(--spacing-6);

  text-align: center;
}
