:root {
  --font-family-base: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
  --font-size-s: 13px;
  --font-size-m: 15px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --line-height-base: 1.5;
  --spacing-2xs: 2px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --control-height-s: 32px;
  --control-height-m: 40px;
  --control-height-l: 48px;
  --shadow-raised: 0 4px 16px rgb(27 27 31 / 12%);
  --z-index-dialog: 100;
  --z-index-dropdown: 110;
}
